:root {
  --blue-color: #113e7b;
  --light-yellow-color: #f7f8eb;
  --yellow-color: #fad84f;
  --black-color: #151110;
  --black-color-transparent: #15111095;
}

.kaushan-script-regular {
  font-family: "Kaushan Script", cursive;
}

.khmer-regular {
  font-family: "Khmer", sans-serif;
  font-style: normal;
}

.inder-regular {
  font-family: "Inder", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
}

a {
  color: var(--blue-color);
  text-decoration: none;
}

nav a:hover {
  font-size: 120%;
  border: var(--black-color) solid 1px;
  border-radius: 20px;
  color: var(--black-color);
  padding: 0 0.5em 0 0.5em;
  width: fit-content;
}

header {
  background-color: var(--yellow-color);
  height: 51px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 20px;
}

header nav {
  position: relative;
  left: 20px;
  display: flex;
  gap: 30px;
}

main {
  margin-bottom: 39px;
}

footer {
  background-color: var(--yellow-color);
  height: 121px;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 20px;
}

footer nav {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 270px;
}

h1 {
  text-align: center;
  line-height: 140px;
  font-size: 96px;
  color: var(--blue-color);
  height: 140px;
  width: 100%;
}

h2 {
  text-align: center;
  line-height: 140px;
  font-size: 96px;
  color: var(--yellow-color);
  height: 140px;
  width: 100%;
}

main.background {
  border: none;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 801px;
  width: 100%;
  margin: 21px 0 21px 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form.flex-col {
  gap: 1em;
}

/* page accueil */

div.accueil {
  justify-content: space-around;
  width: 80%;
  gap: 1em;
}

p.accueil {
  margin: 0.3em;
}

.accueil-image-right {
  background-image: url(images/pexels-pixabay-41949.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 670px;
  width: 64%;
  transition: ease-in-out;
  transition-duration: 0.8s;
}

.accueil-image-left {
  background-image: url(images/boy-509488_1280.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 670px;
  width: 36%;
  transition: ease-in-out;
  transition-duration: 0.8s;
}

.accueil-image-left:hover {
  border: var(--yellow-color) solid 5px;
  border-radius: 70px;
  padding: 1em;
  height: 700px;
  width: 40%;
}

.accueil-image-right:hover {
  border: var(--yellow-color) solid 5px;
  border-radius: 70px;
  padding: 1em;
  height: 700px;
  width: 70%;
}

.accueil-text-border {
  font-size: 36px;
  color: var(--light-yellow-color);
  border: none;
  border-radius: 10px;
  background-color: var(--black-color-transparent);
  position: relative;
  left: 25px;
  text-align: center;
  width: fit-content;
  display: flex;
}

/* page à propos */

main.aPropos {
  background-image: url(images/pinata-1937444_1920.jpg);
}

h1.aPropos {
  color: var(--yellow-color);
  margin-bottom: 50px;
}

p.aPropos {
  color: var(--yellow-color);
  font-size: 24px;
}

.aPropos-border {
  border: var(--yellow-color) solid 2px;
  background-color: var(--black-color-transparent);
}

.aPropos-text-border {
  border-radius: 0 0 80px 0;
  width: 40%;
  height: 60%;
  padding: 3em;
  position: relative;
  left: 40px;
}

.aPropos-button {
  position: relative;
  bottom: -250px;
  left: 20%;
}

.aPropos-button-border {
  border: var(--yellow-color) solid 2px;
  border-radius: 20px;
  width: 255px;
  height: 65px;
  background-color: var(--black-color-transparent);
  display: flex;
  justify-content: center;
  align-items: center;
}

.aPropos-button-border:hover {
  width: 280px;
  height: 80px;
  font-size: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* page contact */

main.contact {
  background-image: url(images/pexels-bakari-grady-willis-224084-709959.jpg);
}

h1.contact {
  font-size: 36px;
  color: var(--blue-color);
  width: 30%;
  height: fit-content;
  border: none;
  border-radius: 20px;
  background-color: var(--light-yellow-color);
  margin: 1em 0 1em 0;
  line-height: 70px;
}

textarea.contact {
  height: 150px;
  box-sizing: border-box;
  resize: none;
}

.contact-border {
  border: none;
  border-radius: 20px;
  width: 936px;
  height: 646px;
  background-color: var(--blue-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  background-color: var(--light-yellow-color);
  color: var(--black-color);
  font-size: 36px;
  width: 757px;
  height: 56px;
}

.contact-form-button {
  border: none;
  border-radius: 20px;
  background-color: var(--light-yellow-color);
  width: 25%;
  height: 56px;
}

.contact-form-button:hover {
  background-color: var(--yellow-color);
  color: var(--blue-color);
}

/* page realisations */

#realisations-title {
  font-size: 36px;
  color: var(--blue-color);
  width: 100%;
  height: fit-content;
  line-height: 140px;
}

#realisations-liste {
  margin-top: 20px;
}

.realisations {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  height: fit-content;
  background-color: var(--blue-color);
  color: var(--yellow-color);
  border: none;
  border-radius: 20px;
  justify-self: center;
}

.realisations-text {
  text-align: center;
  font-size: 24px;
}

.realisations-button {
  border: var(--yellow-color) solid 2px;
  border-radius: 20px;
  width: 100%;
  height: 65px;
  background-color: var(--black-color-transparent);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--yellow-color);
  background-color: var(--black-color-transparent);
  font-size: 32px;
}
